@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    background-color: lightpink; 
}

body { 
    background-color: rgb(255, 255, 255); 
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: calc(1vw + 1vh);
    font-weight: 100;
}

main { 
 background-color: orange; 
} 

#title{
    background-color: navy; 
    color:white;
    font-size: 18;
    font-family:'Atkinson Hyperlegible', sans-serif;
    text-align: center;
    
}
footer{
    background-color: navy;
    color: white;
    text-align: center;
    margin-top: 100%;
}