@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    /*user-select: none;*/
    /* overflow: auto; */ 
} 

html {
    background-color: none;
    overflow: auto;
}

body { 
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: calc(1vw + 0.8vh);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: auto; 
}
 
.titleBox{
    background-color: #406882;
    width: 100%;
    margin: 0 auto;
    color:whitesmoke; 
    text-align: center;
    padding: .65%; 
    animation-name: colorchange;
    animation-duration: 5s;
   
    /* 1em = 100% */ 
    /* text-shadow: 0.02em 0.02em orange; // for pc view*/
}
@keyframes colorchange {
    0%   {background-color: rgb(0, 174, 255);}
    25%  {background-color: rgb(0, 255, 191);}
    50%  {background-color: rgb(0, 174, 255);}
    100% {background-color:  #406882;}
  }

.titleA { 
    font-family:'Atkinson Hyperlegible', sans-serif; 
    font-weight: 600; 
    font-size: 1.8em;
}

.titleB { 
    /* font-weight: 300; */ 
    font-size: 1.4em;
    display: inline-block;
}

.mainBody { 
    background-color: rgb(250, 250, 250)/*#6998AB*/;  
    color: rgb(255, 255, 255);
    padding: 5%; 
}

#profileContainer {
    display: flex; 
    flex-flow: row wrap;
    gap: 1em 1em; /* gap: row-gap collum gap */
    align-content: space-around;
    justify-content: space-evenly;
    align-items: stretch;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65), 0 6px 20px 0 rgba(0, 0, 0, 0.65); ///////// activate in Pc version */ 
    background-color: none;
}

.profileBox { 
    width: 100%; 
    padding: 1em; 
    background-color: #406882;
    /* display: inline-block; ///////// I actually need this? */ 
    position: relative; 
    border-radius: 1.5%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 1em); /* gap space */ 
    transition:  0.3s ease-in-out; 
}

.profileBox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65), 0 6px 20px 0 rgba(0, 0, 0, 0.65);
    background-color: #397288;
    transition:  0.3s ease-in-out;
    /*transform: rotate(1.5deg);*/
  }
.profileBox:active{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    background-color: #397288;
    transition:  0.3s ease-in-out;
}
  
.subBoxA { 
    background-color: rgba(15, 19, 248, 0.164); 
    border: #0f1d29;
    display: flex; 
    align-content: center;
    justify-content: center;
    position: relative;
    left: 15%; 
    width: 70%; 
    margin: 5% 0 5% 0;
    /* don't know a good way to center image so just using another flexbox */
}

.subBoxB { 
    background-color: #4891ad;
    font-size: 1.8em; 
    color: rgb(255, 255, 255); 
    overflow: auto; 
    padding: 2.5%; 
    border-radius: 1.5%;
}

.subTitleB { 
    font-size: 0.9em;
    font-weight: 500;  
    padding: 0.55%; 
}

a.infolinks { 
    font-size: 0.79em; 
    display: block; 
    font-weight: 500; 
    background-color: none;
    color: rgb(255, 255, 255);
    transition: color 1s;
    text-decoration: none;
    
}
a.infolinks::first-letter{
    color:blue;
}
a.infolinks:hover{
    transition: color 1s;
    font-style: italic;
    text-decoration: underline;
    color: skyblue;
}
.profileImage { 
    width: 90%; 
}

.subTitleA { 
    text-align: center; 
    text-decoration: underline;
    font-weight: 500; 
    margin: 2.5%; 
    font-size: 1.13em;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

 #services { 
    background-color: #406882;
     margin: 2.5% 0; 
     padding: 1em; 
     border-radius: 1.5%;
     transition:  0.3s ease-in-out;
 }

 #services > div { 
    background-color: #4891ad;
    border-radius: 1.5%; 
    padding: 1.5%; 
    font-size: 1.1em; 
}

 #services:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65), 0 6px 20px 0 rgba(0, 0, 0, 0.65);
    transition:  0.3s ease-in-out;
    /* transform: rotate(1.5deg);*/ 

 }

ul { 
    display: inline-block; 
    padding: 1% 1.5%; 
    margin: 1.25% 1.25% 1.25% 10%; 
    font-size: 1.3em;
    color: rgba(245, 245, 245, 0.897)
}
 
.spacer { 
    position: relative; 
    width: 100%; 
    height: 3rem;  
    z-index: -1;
}

.bottom { 
     background-color: #1A374D;
    /*height: 12.5%;*/
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    
}

.nav { 
    background-color: #406882;
    display: flex;  
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;
    padding: 2%; 
}

.nav > input{ 
    font-size: 1.5em;  
    border-radius: 5%;
    padding: 2.5% 8%; 
    width: 40%; 
}

footer.bottomBar {
    background-color: #1A374D;  
    position: relative;
    width: 100%;
    padding: 0.5%; 
    color: white;
    text-align: center;
    font-family: arial;
}

input{
    background-color:#4891aD;
    color: white;
    border: none;
    border-radius: 5px;
    transition:  0.3s ease-in-out;
    
    
}
input:hover{
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    background-color: #397288;
    transition:  0.3s ease-in-out;
    
   
}


@media only screen and (orientation: landscape) and (max-width: 12in)  { 

    #services, #profileContainer { 
        width: 80%;
        position: relative;
        left: 10%; 
    }

    .nav{
        width: 100%; 
        padding: 1%; 
        
    }

    .nav > input{
        height: 1%; 
        border-radius: 5px;
        border: none;
        font-size: 1.1em;
        background-color: #4ca0c2;
        padding: 1.5%;
        width: 30%; 
    }

    .subBoxA { 
        width: 60%; 
        left: 20%; 
    }
     
    .spacer { 
        height: 2.5rem; 
    }

    a.homeActive{
        text-decoration:none;
    }
}
.phone{
    user-select: text;
}

div.gallery {
    /* 
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 360;
    margin: 0 auto;
    border: 1px solid whitesmoke;
    */
    background-color: white; 
    width:100%; 
    padding: 5%; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1em; 
    
  }
  .galleryBox { 
      background-color: whitesmoke;
      padding: 5%;
      border-radius:1%; 
      width: 60%;
  }
  .gallery > img { 
      width: 80%;
      height: 10%;  
  }
  div.gallery:hover {
    transition: 0.5s;

  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    
   
   
  }
  div.gallery img:hover{
    opacity:90%;
    transition: 0.5s;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    border: none;
    background-color: white;
  }
  div.desc:hover{
      transition: 0.5s;
  }

  
  /* has to be 15 ot both trigger */
  @media only screen and (orientation: landscape) and (min-width: 15in) {

    
    body{
        font-size: calc(.6vw + .8vh);
    }

 #services, #profileContainer { 
        width: 40%;
        position: relative;
        left: 30%; 
    }

    .titleBox{
        font-size: 0.9em;
        width: 100%;
        padding: 0.5%;
        background-color: #406882;
    }

    .profileImage{
        width: 75%;
    }

    .nav{
        padding: .8%; 
    } 

    .nav > input{
        height: 1%; 
        border-radius: 5px;
        border: none;
        font-size: 1.05em;
        background-color: #4ca0c2;
        padding: 1%;
        width: 30%; 
    }
     
    .spacer { 
        height: 4rem; 
    }
    .galleryBox { 
        width: 35%; 
        margin: 1.5%; 
        padding: 2.5%; 
    }
    /* 
    .profileBox{
        flex-grow: 0.25;
        flex-basis: calc(25% - 1em); 
    }   
    #profileContainer { 
     /*    width: 50%; *
     background-color: rgb(35, 128, 165); 
     padding: 2%; 
     width: 60%; 
     position: relative; 
     left: 20%; 
     border-radius: 1.5%;
     transition:  0.3s ease-in-out;
    }
    #profileContainer:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65), 0 6px 20px 0 rgba(0, 0, 0, 0.65);
        transition:  0.3s ease-in-out;
    }
    .bottomBar{
        font-size: calc(0.5vw + 0.4vh);

    }
    .titleBox{
        font-size: calc(0.5vw + 0.4vh);
    }

    
    */ 
}
