@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    overflow: auto; 
}

/*
*::selection { 
background: navy; 
color: orange;
}
*/ 
/* 
html {
    background-color: white; 
}

body { 
    background-color: white; 
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: calc(1vw + 1vh);
    /* font-weight: 100; * 
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: relative; 
}

.titleBox{
    background-color: #1351d8;
    width: 100%;
    animation-name: colorchange;
    animation-duration:  8640s;
    color:whitesmoke; 
    text-align: center;
    padding: 2%; 
    font-family: 'Atkinson Hyperlegible', sans-serif;
    /* 1em = 100% */ 
    /* text-shadow: 0.02em 0.02em orange; // for pc view* 
}


@keyframes colorchange {
    0%   {background-color: rgb(0, 255, 128);}
    25%  {background-color: rgb(0, 255, 191);}
    50%  {background-color: rgb(0, 174, 255);}
    100% {background-color: #1351d8;}
  }


#titleA:hover{
    cursor: pointer;
    color:white;
    text-shadow: 3px 1px black;
    transition: 2s;
    
}




#titleA { 
    font-weight: 600;
    font-size: 1.30em;
    
}

.titleB { 
    font-weight: 300; 
    font-size: 1.15em;
    display: inline-block;
}

.mainBody { 
    background-color: rgb(255, 255, 255); 
    height: 100%; 
    /* padding: 2.5% 5%; *
}
.mainBox { 
    background-color: white; 
    box-shadow: 0 5px 10px lightgray;
    position: relative;
    display: inline-block; 
    width: 90%; 
    padding: 2.5%; 
    margin: 2.5% 5%;
    border-radius: 1%;
   
}
.mainBox:hover{
    background-color: #427cf8; 
    box-shadow: 0 5px 10px black;
    color:whitesmoke;
    
    transition: 1s;
   
  }
  
  
    


.profile {   
    background-color: white; 
    position: relative;
    width: 60%; 
    padding: 2.5%; 
    transform: translate(-50%, 0%); 
    left: 50%; 
    margin: 1.5% 0; 
}


#rightMainBox { 
    float: none; 
} 
.subTitleA { 
    /* 
    text-decoration: underline;
    font-style:italic; 
    letter-spacing: 3px;
    filter: drop-shadow(100%); 
    *
    
    text-align: center; 
    text-shadow: 1px 1px black;
    font-weight: normal; 
    
}

.bodyText { 
    text-indent: 5%;
    padding: 0 2%; 
    margin: 2% 0; 
}

.bottom { 
    background-color: white; 
    /*height: 12.5%;* 
    position: absolute;
    bottom: 0; 
    width: 100%;   
}

.nav { 
    display: flex;  
    flex-flow: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2%; 
}

.nav > input{ 
    font-size: 1.5em;  
    border-radius: 5%;
    padding: 2.5% 8%; 
    width: 40%; 
}


footer.bottomBar {
    background-color: rgb(19, 81, 216, 2);
    position: relative;
    width: 100%;
    padding: 0.5%; 
    bottom: 0; 
    right: 0; 
    color: white;
    text-align: center;
    font-family: arial;
}

/*  //// if positioned with absolute or fixed //// *
.spacer { 
    position: relative; 
    width: 100%; 
    height: 4%; 
    z-index: -1;
}

.projectBox { 
    background-color: rgba(255, 0, 0, 0.432);
}

/* 
header{
    width: 100%;
    background-color: orange;
}
nav{
    background-color: orange;
}

button{
    height: 3.8em;
    width: 5.5em;
    border:none;
    background-color: white;
    margin-left: 30% ;
   
}
.navbutton:hover{
   background-color: navy;
   color: white;
   
}
a.portfolioActive{
    font-weight: bold;
    font-style: italic;
}
a.homeActive{
    font-weight: bold;
    font-style: italic;
}
a{
   
    text-decoration: none;
}
a:hover{
    color: white;
}
 */ 
/*store owners profile and profile box which includes texts*/
/* 
#boxBox{
    height : auto;
    width : auto;
    background-color: whitesmoke;
    text-overflow: break;
}
#profileOne {
    border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
    margin: 0 auto;

} 

#boxTwo{
    height : auto;
    width : auto;
    background-color: whitesmoke;
    text-overflow: break;
}
#profileTwo {
    border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;    
    margin: 0 auto;

} 
*/ 
  /*working on navigatin buttons
  header{
      width: 100%;
      background-color: orange;
  }
  button{
      background-color: white;
      border: none;
      color: black;
      height: max-height;
      borderborder-radius: 5px;
  }
  */
  
  /*working on porfolio page services description *
  .aboutProject{
      background-color: whitesmoke;
      border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
 
    }
 .projectProgressImage{
     border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
     border: none;
 }
 button.navButton{
    color: aqua;
 }


 /*css for expand *
 .collapsible {
    transition: width 400ms ease-out, height 400ms ease-out;
    background-color: #1351d8;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    width:100%;
    margin: 0 auto;
   
  }
  .collapsible:hover{
      font-size: medium;
  }
  .content {
    transition: height 400ms ease-in, height 400ms ease-in;
    overflow: hidden;
    background-color: #f1f1f1;
    margin: 0 auto;
  }
  
  /* has to be 15 ot both trigger *
  @media only screen and (orientation: landscape) and (min-width: 15in) {
    body{
        font-size: calc(.7vw + .7vh);
    }
    .mainBox{
        width: 45%;
        margin: 1% 2.5%;
        padding: 1%;
    }
    .titleBox{
        padding: 0.5%;
        background-color: gray;
    }
    .nav >input{
        cursor: pointer;
        padding: 2%;
        width: 10%;
        border-radius: 10%;
    }
    input:hover{
        background-color: rgb(179, 179, 179);
    }
}
@media only screen and (orientation: landscape) and (min-width:600px)  { 
    
    button{
        background-color: yellow;
    }
    button{
        font-size: large;
    }
    a.homeActive{
        text-decoration:none;
    }
}
*/ 

